@model CvGenerator.Models.CvEmployment

<div class="col-md-3">
    <div class="m-1 p-2 border border-secondary bg-light">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="StartYear" class="control-label"></label>
            <input asp-for="StartYear" class="form-control" />
            <span asp-validation-for="StartYear" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndYear" class="control-label"></label>
            <input asp-for="EndYear" class="form-control" />
            <span asp-validation-for="EndYear" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="StillWorking" onclick="ToggleNearInput($(this), 'EndYear')" />
                @Html.DisplayNameFor(model => model.StillWorking)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="JobTitle" class="control-label"></label>
            <input asp-for="JobTitle" class="form-control" />
            <span asp-validation-for="JobTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Company" class="control-label"></label>
            <input asp-for="Company" class="form-control" />
            <span asp-validation-for="Company" class="text-danger"></span>
        </div>
    </div>
</div>
