
@{
    ViewData["Title"] = "About";
}

<h1>About Me</h1>

<div class="d-flex align-items-center mt-5">
    <div class="">
        <img src="~/image/me.jpg" width="200" />
    </div>
    <div class="m-3">
        <h3>Ali Aboutalebi</h3>
        <h5>Senior .Net Developer</h5>
        <div>Job Status: <em class="text-success">Open for new opportunities!</em></div>
        <div><a href="https://aliaa.github.com">aliaa.GitHub.com</a></div>
        <div><a href="https://linkedin.com/in/ali-aboutalebi">Linkedin.com/in/ali-aboutalebi</a></div>
    </div>
</div>